@media (min-width:1024px){
    
    .container {
        width: 960px;
        height: 100%;
        margin: auto;
    }

    .container > h1 {
        width: 60%;
    }

    .kontakt {
        cursor: not-allowed;
    }

    .nav-links {
        width: 25%;
        cursor: pointer;
    }

    .landing-page-shadov a:hover {
        font-size: 18px;
        color: black;
        background-color: white;
        text-decoration: none;
        padding: 14px 57px;
        cursor: pointer;
    }

    p {
        width: 700px;  
    }

    .box:nth-of-type(2n) {
        margin-right: 5%;
    }

    .box:nth-of-type(3n) {
        margin-right: 0;
    }
    
    .box:nth-last-of-type(3) {
            margin-bottom: 0;
    }
    
    .box {
        width: 30%;
        padding-bottom: 30%;
        margin-right: 5%;
    }   

    .box:hover {
        transform: scale(1.05);
        transition-duration: 1s;
        cursor: pointer;
    }

}

