    html {
        scroll-behavior: smooth;
    }

    .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
    }
    
    h2 {
        font-weight: bold;
    }
    
    .container-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    
    nav {
        background-color: #4E4E4E;
        height: 50px;
    }
    
    nav a {
        font-size: 18px;
        text-decoration: none;
    }
    
    .nav-logo {
        font-weight: bold;
        color: white;
    }
        
    .nav-links {
        display: none;
    }

    .hamburger {
        width:35px;
        height: 30px;
        border:none;
        margin-bottom: 6px;
        border-top: 5px solid white;
        border-radius: 2px;
        background-color:transparent;
        position:relative;
    }

    .hamburger::before, .hamburger::after {
        content: '';
        position:absolute;
        top: 0;
        left:0;
        width:100%;
        border-top: 5px solid white;
        border-radius: 2px;
        transform: translateY(10px);
        transition: 0.3s transform linear;
    }

    .hamburger::after {
        transform: translateY(25px);
    }

    .hamburger:focus {
        transform: rotate(45deg) translateY(5px);
        border-top:0;
        outline:none;
    }

    .hamburger:focus::after {
        transform: rotate(-90deg) translateX(-10px);
    }

    .burger-menu {
        position: absolute;
        display:flex;
        width:150px;
        height:150px;
        background-color:#4E4E4E;
        border-top: none;
        top: 49px;
        left: 54px;
        align-items: center;
        justify-content: center; 
        transition: 0.3s transform ease-in-out;
        transform: translateX(-300px);
    }

    .burger-menu ul {
        position: absolute;
        display:flex;
        flex-direction:column;
        list-style-type:none;
    }

    li a {
        width:100%;
        display:flex;
        justify-content:flex-start;
        margin:5px 0;
        text-decoration:none;
        color:white;
        font-size:26px;
        font-weight: bold;
    }

    .hamburger:focus ~ .burger-menu, .burger-menu:hover {
        position: relative;
        transform: translateX(-4px); 
    }

    .landing-page {
        height: calc(100vh - 50px);
        background-image: url(https://picsum.photos/1920/1080); 
        background-position: center;  
        background-size: cover;
        font-size: 18px;
    }

    .landing-page-shadov {
        height: 100%;
        background-color:rgba(0, 0, 0,0.3 );
        display: flex;
        align-items: center;   
    }

    .landing-page h1, .landing-page h2 {
        color: white;
        font-weight: bold;
    }

    .landing-page-shadov > .container {
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .landing-page-shadov  a {
        font-size: 18px;
        color: white;
        padding: 14px 57px;
        text-decoration: none;
        border: 3px solid #FFFFFF;
    }

    .about h1 {
        color: #152D41;
        text-align: center;
        font-size: 36px;
    }

    .about h2{
        padding-bottom: 40px;
    }

    .about {
        height: 100%;
        padding: 50px 0;
        background-color: #F1F1F1;
    }

    .box-employee {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: justify;
    }

    .fot-employee1 {
        background-image: url(./photo/pracownik1.jpg);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        margin: 15%;
    }

    .fot-employee2 {
        background-image: url(./photo/pracownik2.png);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        margin: 15%;
    }

    .offert {
        background-color: #405D78;
        height: 100%;
        padding: 50px 0;  
    }

    .offert h1 {
        color: white;
        margin-bottom: 70px;
        font-size: 26px;
        text-align: center;
    }

    .flex-box {   
        display: flex;
        flex-direction: column;
    }

    .box {
        position: relative;
        width: 100%;
        font-size: 24px; 
        padding-bottom: 100%;
        margin-bottom: 10%;
        background-color: white;
    }

    .box-text {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .box  h2 {
        font-weight: normal;
    }

    .point {
        position: absolute;
        top:-3%;
        left: -3%;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #E07A64;
    }

    footer .container-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .social-media a, .social-media {
        text-decoration: none;
        color: white;
        margin-top: 5%;
    }

    footer {
        background-color: #4E4E4E;
        height: auto;
        color: #FFFFFF;
        padding: 5% 0;
    }

    footer  span {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    