@media (min-width:768px) {
    
    .container {
        width: 680px;
        height: 100%;
        margin:0 auto ;
    }

    .burger-container {
        display: none;
    }

    .nav-links {
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    
    .nav-links a {
        color: #F1F1F1;
    }

    button {
        display: none;
    }

    .container > h1 {
        width: 75%;
    }

    .about h1 {
        margin-bottom: 70px;
        text-align: left;
    }
    
    .fot-employee1 {
        margin: 0;
    }

    .fot-employee2 {
        margin: 0;
    }

    .box-employee {
        flex-direction: row;
        text-align: left;
    }

    .box-employee:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: right;
    }

    p {
        width: 450px;  
    }

    .point {
        top:-3%;
        left: -3%;
    }

    .offert h1 {
        font-size: 36px;
        text-align: left;
    }

    .flex-box {  
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }
    
    .box:nth-of-type(even) {
        margin-right: 0;
    }
    
    .box:nth-last-of-type(1) {
        margin-bottom: 0;
    }
    
    .box:nth-last-of-type(2) {
        margin-bottom: 0;
    }
    
    .box {
        width: 47.5%;
        padding-bottom: 47.5%;
        margin-right: 5%;
    }   

    footer {
        padding: 2% 0;
    }

    footer .container-flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .social-media a, .social-media {
        margin:2% 0;
    }

    footer  span {
        margin: 2% 0;
    } 
    
}